.emailPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 25px;
  .formBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    .title {
      font-family: Albert Sans, sans-serif;;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;
    }

    .subTitle {
      font-family: Albert Sans, sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      color: #C4C8CC;
    }

    .form {
      width: 100%;
      max-width: 335px;

      .info {
        color: #B6B8C3;
        font-family: Albert Sans, sans-serif;;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        padding: 0 20px;
        a {
          color: #E4229C;
          cursor: pointer;

          &:hover {
            cursor: pointer;
            color: #91095c;
          }
        }
      }
    }
  }

  .footer {
    flex-shrink: 0;
    margin-bottom: 20px;
  }
}
